@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Heroes</h1>
    <p class="lead"> Aren't always what they seem.</p>
    <p><a href="https://en.wikipedia.org/wiki/Venom_(2018_film)" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<img src="~/Content/Image/https___blogs-images.forbes.com_markhughes_files_2018_10_VENOM-poster-1-e1538595032688.jpg"/>

<div class="row">
    <div class="col-md-4">
        <h2>Not Your Mother's Super Hero</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Be Mindful of Mood Swings</h2>
        
    </div>
    <div class="col-md-4">
        <h2>He Doesn't Bite</h2>
       
    </div>
</div>